.home{
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}
.win{
  position: absolute;
  font-family: 'Roboto';
  font-size: 32px;
  margin-top: 500px;
  margin-left: 710px;
}
.fort1{
  position: absolute;
  margin-left: 700px;
}
.fort2{
  position: absolute;
  margin-left: 1520px;
}
.fort3{
  position: absolute;
  margin-left:1600px;
  margin-top: 920px;
}
.fort4{
  position: absolute;
  margin-top: 850px;
}
.fort5{
  position: absolute;
  margin-top: 700px;
  margin-left: 830px;
}
